td
{
    /* vw prend le pourcentage de la largeur de l'écran  */
    width: 5.5em;
    height: 5.5em;
    background-image: url("../ressources/basic_tile.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#start{
    margin: auto;
}

fieldset{
    color: red;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.player {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.weapon{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.card-body .weapon{
    width: 5.5em;
    height: 5.5em;
    background-size: cover;
}
.obstacle{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../ressources/rock_tile.png");
}

#interface{
    display: block;
    float: right;
    flex-direction: column;
}

body{
    background-image: url("../../../ressources/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.accessible{   
    border: solid 3px red;
}

.player1{
    background-image: url("../../../ressources/angelBlueC.png");
}

.player2{
    background-image: url("../../../ressources/angelRed.png");
}

.player3{
    background-image: url("../../../ressources/angelOrange.png");
}

.player4{
    background-image: url("../../../ressources/angelSilver.png");
}

.weapon0{
    background-image: url("../../../ressources/hands.png");
}

.weapon1{
    background-image: url("../../../ressources/dagger.png");
}

.weapon2{
    background-image: url("../../../ressources/hammer.png");
}

.weapon3{
    background-image: url("../../../ressources/sword.png");
}

.weapon4{
    background-image: url("../../../ressources/spear.png");
}